<div class="container mt-5">
    <div class="row">
        <div class="col-sm-4">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQDEMGzpxcHARxs1u6WPJteiaJ6Bm7z7i3UmA&usqp=CAU"
                alt="image not found" />
        </div>
        <div class="col-sm-8">
            <h2>About Us</h2>
            <p class="text-white"style="color: red;">This website can be used by current students as well as past students. If the students
                who have completed their studies are working in any company and there are vacancies there, they can
                update on this site. This site is useful for job seekers.This is a great way for current students to
                easily meet students who graduated 10 or two 20 years ago. You can update it by photographing the events
                happening in your college. More updates will be coming to this site soon!!!!!...</p>

        </div>
    </div>

    <div class="mt-5 p-4 bg-dark text-white text-center">
        <div class="row">
            <p>Email: abisheksara2002@gmail.com</p>
            <p>Phone: 8220990378</p>
        </div>
    </div>

</div>